@model WebElReyCan.Models.Turno

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Turno", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Date)
        <br />
        @Html.EditorFor(model => model.Date)
        @Html.ValidationMessageFor(model => model.Date)
    </div>
    <div>
        @Html.LabelFor(model => model.Hour)
        <br />
        @Html.EditorFor(model => model.Hour)
        @Html.ValidationMessageFor(model => model.Hour)
    </div>
    <div>
        @Html.LabelFor(model => model.PetName)
        <br />
        @Html.EditorFor(model => model.PetName)
        @Html.ValidationMessageFor(model => model.PetName)
    </div>
    <div>
        @Html.LabelFor(model => model.Breed)
        <br />
        @Html.EditorFor(model => model.Breed)
        @Html.ValidationMessageFor(model => model.Breed)
    </div>
    <div>
        @Html.LabelFor(model => model.Age)
        <br />
        @Html.EditorFor(model => model.Age)
        @Html.ValidationMessageFor(model => model.Age)
    </div>
    <div>
        @Html.LabelFor(model => model.OwnerName)
        <br />
        @Html.EditorFor(model => model.OwnerName)
        @Html.ValidationMessageFor(model => model.OwnerName)
    </div>
    <div>
        @Html.LabelFor(model => model.CellNumber)
        <br />
        @Html.EditorFor(model => model.CellNumber)
        @Html.ValidationMessageFor(model => model.CellNumber)
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index","Turno")
</div>
