@model WebElReyCan.Models.Turno

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Turno", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Turn</h4>
        <hr />
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Date)

            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hour)

            @Html.EditorFor(model => model.Hour)
            @Html.ValidationMessageFor(model => model.Hour)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PetName)

            @Html.EditorFor(model => model.PetName)
            @Html.ValidationMessageFor(model => model.PetName)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Breed)

            @Html.EditorFor(model => model.Breed)
            @Html.ValidationMessageFor(model => model.Breed)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age)

            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerName)

            @Html.EditorFor(model => model.OwnerName)
            @Html.ValidationMessageFor(model => model.OwnerName)

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CellNumber)

            @Html.EditorFor(model => model.CellNumber)
            @Html.ValidationMessageFor(model => model.CellNumber)

        </div>

        <p> <input type="submit" value="Save" /> </p>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
